.style
  table {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 70%;
  }
  
  td, th {
    border: 1px solid #c38c0d;
    text-align: left;
    padding: 14px;
  }
  /* mouse over link */
a:hover {
  color: rgb(16, 172, 81);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
 
